@media (max-width: 320px) {

    

    .quienes {
        width: 100%;
        border: 2px solid red;
    }
    .info p {
        width: 70%;
        font-size: 9px;
        border: 2px solid rgb(249, 253, 9);
    }

    .contenedor {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 50%;
        gap: 10px;
        border: 2px solid rgb(13, 228, 13);
    }

    info{
        width: 100%;
        border: 2px solid rgb(153, 7, 211);
    }

  

    .imagenes{
        width: 100%;
        flex-wrap: wrap;
        border: 2px solid rgb(143, 109, 153);
    }




    footer ul {
        font-size: 7px;
        display: flex;
        justify-content: space-evenly;
        padding-right: 5px;
    }

}