@media (max-width: 768px){

    .Equipo {
        width: 100%;
        height: 100%;
        padding: 100px;
    
    }
    
    .imgEquipo {
    
        width: 100%;
        height: 100px;
        gap: 10px;
    }

    .gente {
        width: 50%;
    }
}