
@media (max-width: 320px) {




    .navegacion li a{
        font-size: 7px;
    }


    .sectionIndex {
        display: flex;
        flex-direction: column;
        align-content: center;

    }
    
    .h1Inicio {
        justify-content: center;
        font-size: 1.5rem;
        font-style: italic;
    }

    .section-carousel{
        width: 100%;
    }


    footer ul{
        width: 100%;
        font-size: 10px;
        display: flex;
    }

    footer ul img{
        width: 10px;
    }
    
}