header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0f1d0;
    width: 100%;
    

}

.imglogo img {

    height: 60px;
    border-radius: 70px;

}

.navegacion ul {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.navegacion ul li a {
    text-decoration: none;
    color: black;

}

.navegacion {
    width: 80%;
    display: flex;
    justify-content: center;
}


.navegacion ul a:hover{
color: #003cff;
text-decoration:overline;
}
