
main {

    display: flex;
    flex-direction: column;

}

.sectionIndex {
    display: flex;
    height: 400px;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}


.h1Inicio {
    align-items: center;
    font-size: 2.5rem;
    font-style: italic;
    

}


.search {
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    

}

.section-carousel{
    display: flex;
    justify-content: center;
    width: 100%;

    #carouselProductos div div img, #carouselProductos1 div div img {
        object-fit: fill;
        background-repeat: no-repeat;
        padding: 1.875rem 0 3.125rem 0 ;
    }
}


