body {
    background-color: #8CB9BD;

}

.contenedor {
    display: grid;
    height: 150vh;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.col-1 {
    height: 100%;
    width: 100%;
    background-image: url(../assets/img/filtro.jpg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 100%;

    grid-column: 1/2;
    grid-row: 1/4;
}

.col-1 table {
    display: flex;
    padding : 10px;
}

.col-1 table tr{
    justify-content: space-between;

}

.lifeFiltro {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.lifeCajitas1 {
    border: 2px solid rgb(10, 60, 66);
    border-radius: 10px;
    grid-column: 2/3;
    background-color: white;
}

.lifeCajitas2 {
    border: 2px solid rgb(8, 100, 110);
    border-radius: 10px;
    grid-column: 2/3;
    background-color: white;
}

.lifeCajitas3 {
    border: 2px solid rgb(10, 60, 66);
    border-radius: 10px;
    grid-column: 2/3;
    background-color: white;
}

.lifeCajitas4 {
    border: 2px solid rgb(10, 60, 66);
    border-radius: 10px;
    grid-column: 2/3;
    background-color: white;
}


.contenedor h3 {
    padding: 7px;
}

.contenedor p {
    padding: 7px;
}

.contenedor ul {
    list-style: none;
    padding: 7px;
}
